<footer>
  <div class="contain-970">
    <div class="footer-content">
      <%= link_to image_tag("northwestern-university.svg", :alt => "Northwestern University logo"), 'http://www.northwestern.edu/' %>
      <ul>
        <li>&copy; <%= Date.today.year %> Northwestern University</li>
        <li><a href="http://www.northwestern.edu/contact.html">Contact Northwestern University</a></li>
        <li><a href="http://www.northwestern.edu/hr/careers/">Careers</a></li>
        <li><a href="http://www.northwestern.edu/disclaimer.html">Disclaimer</a></li>
        <li><a href="http://www.northwestern.edu/emergency/index.html">Campus Emergency Information</a></li>
        <li><a href="http://policies.northwestern.edu/">University Policies</a></li>
      </ul>
    </div>
    <div class="footer-content contact">
      <ul>
        <li class="footer-pin-icon"><span class="hide-label">Address</span></li>
        <li>1970 Campus Drive</li>
        <li>Evanston, IL 60208</li>
      </ul>
      <ul>
        <li class="footer-phone-icon"><span class="hide-label">Phone number</span></li>
        <li>(847) 491-7658</li>
      </ul>
      <ul>
        <li class="footer-email-icon"><span class="hide-label">Email Address</span></li>
        <li><a href="mailto:library@northwestern.edu">library@northwestern.edu</a></li>
      </ul>
    </div>
    <div class="footer-content">
      <p><strong>Social Media</strong></p>
      <a class="social facebook" href="https://www.facebook.com/NorthwesternLibrary">Facebook</a>
      <a class="social twitter" href="https://twitter.com/nu_library">Twitter</a>
      <a class="social instagram" href="https://www.instagram.com/nu_library/">Instagram</a>
      <br>
      <a class="social youtube" href="https://www.youtube.com/user/NorthwesternLib">YouTube</a>
      <a class="social wordpress" href="http://sites.northwestern.edu/northwesternlibrary/">WordPress</a>
    </div>
    <div class="footer-content">
      <ul>
        <li><a href="http://northwestern.libanswers.com/">FAQs</a></li>
        <li><a href="about/support/index.html">Support Us</a></li>
        <li><a href="about/library-jobs/index.html">Library Jobs</a></li>
        <li><a href="about/administration/policies/index.html">Library Policies</a></li>
        <li><a href="about/contact/general-feedback.html">Provide Feedback</a></li>
      </ul>
    </div>
  </div>
</footer>
