<nav aria-label="main navigation menu" class="narrow-dropdown" id="top-nav">
  <div class="contain-1120">
    <ul role="menubar">
      <%= render :partial=>'nu_modules/nu_primary_nav_links' %>
    </ul>
  </div>
</nav>
