#accordion {
  &.panel-group {
    .panel-title {
      // Panel accordion toggle button
      .fa-minus-square {
        color: $nu-purple;
      }
    }
    i.now-playing {
      color: $nu-purple;
    }
  }
}
.content {
  #accordion {
    ul > li {
      // Sections panel group
      &.stream-li {
        background: none;
        padding: 5px;
      }
    }
  }
}
