.mejs-container.mejs-avalon {
  .mejs-controls {
    .mejs-qualities-button {
      .mejs-qualities-selector {
        width: 75pt;
      }
    }
  }
}

.mejs-controls {
  ul {
    li {
      background: none;
    }
  }
  // Quality selector control button
  .mejs-qualities-button {
    .mejs-qualities-selctor {
      bottom: 47px;
    }
  }
  // All control buttons
  .mejs-button {
    button {
      background-color: inherit;
      &:active:focus,
      &:hover {
        background-color: inherit;
      }
    }
    &.mejs-add-to-playlist {
      button {
        &:active,
        &:hover,
        &:focus {
          background: transparent image_url('add_to_playlist_icon.svg') no-repeat;
        }
      }
    }
  }
  // Add marker to playlist
  .mejs-add-marker-to-playlist-item {
    button,
    button:hover {
      background: transparent image_url('add_bookmark.svg') no-repeat;
    }
  }
}




/**
 * Mediaelement 4 style overrides / edits
 */
.mejs__style_helper {
  background: transparent image-url('/assets/mediaelement/mejs-controls.svg');
  background-color: transparent;
}
.mejs__button {
  &.mejs__volume-button {
    > button {
      @extend .mejs__style_helper;
      background-position: -60px 0;
      &:hover {
        @extend .mejs__style_helper;
        background-position: -60px 0;
      }
    }
  }
  &.mejs__qualities-button,
  &.mejs__fullscreen-button {
    > button {
      &:hover {
        background: transparent;
      }
    }
  }

  &.mejs__add-to-playlist-button {
    > button {
      &:hover {
        background: transparent image-url('/assets/mejs4/add-to-playlist-control.png') no-repeat;
        background-size: contain;
      }
    }
  }
}
