.mejs-controls {
  ul {
    li {
      background: none;
    }
  }
  .mejs-button {
    button {
      background-color: inherit;
      &:active:focus {
        background-color: inherit;
      }
    }
  }
}
