// Extend a local class
.playlist-edit-button {
  color: $nu-purple;
  font-size: 1.25rem;
}

#add_to_playlist,
#add_marker_to_playlist_item {
  background: $rich-black-50;
  border: 0;
  border-radius: 0;
  padding-top: 1rem;

  h3 {
    color: $white;
  }

  table {
    tr, tr.stripe {
      background: $rich-black-50;
      &:hover {
        background: $rich-black-50;
      }
      &.hover {
        td {
          background: $rich-black-50;
          color: $white;
        }
      }
    }
    td {
      border: 0;
    }
  }

  .responsive-table {
    margin-bottom: 0;
    margin-top: 0;
  }
}

// Edit icon next to 'Playlist Details' when editing a playlist
#playlist_edit_button {
  @extend .playlist-edit-button;
  padding-bottom: 12px;
}
#playlist_item_edit_button {
  @extend .playlist-edit-button;
}
// Playlist edit cancel button
#playlist_edit_cancel {
  @extend .btn-xs;
}

// Editing a playlist - Playlist Items list
form#playlist_sort_form {
  .glyphicon.dd-handle {
    &:hover {
      color: $nu-purple;
    }
  }
}

#add_to_playlist_alert {
  a {
    color: $white;
  }
}

// Markers table
#markers table {
  // Buttons in markers table
  button {
    text-transform: uppercase;
    font-weight: bold;
  }
  // Delete confirm popover
  td:last-of-type .popover .popover-content {
    min-width: 190px;
  }
}
