#access_control_form {
  fieldset {
    margin-bottom: 1rem;
  }
}

.form-control:focus {
  box-shadow: none;
}

// Login form
.omniauth-form {
  form {
    button {
      width: 100%;
    }
  }
}

.form-group {
  &.has-error {
    span {
      color: $rich-black-80;
      &.help-block {
        color: $red;
      }
    }
    .form-control {
      border-color: $medium-grey;
    }
  }
}

// Intended for manage content legend items initially
// Keep an eye if this impacts other usages of <legend>
legend {
  border-bottom: 2px solid $medium-grey;
  margin-bottom: 1rem;
  padding: 0 0 .5rem 0;
}
// Sub legends (indented) on manage content page
fieldset fieldset legend {
  font-size: 21px;
}
