// purples
$purple: #4e2a84;
$purple120: #401f68;
$purple60: #836eaa;
$purple30: #b6acd1;
$purple10: #e4e0ee;

// secondary colors
$brightGreenA: #58b947;
$brightBlueA: #5091cd;
$brightBlueB: #7fcecd;
$brightYellowA: #ffc520;
$brightYellowB: #ede93b;
$brightRedA: #ef553f;

// variations
$green20: #e6f4e3;

// based on ef553f
$red10: #f7e5e4;

// grays
$white: #fff;
$gray6: #f2f2f2;
$black10: #d8d6d6;
$black20: #bbb8b8;
$black50: #716c6b;
$black80: #342f2e;
$black: #000;

// primary color overrides
$primary: $purple !important;
$secondary: $purple60;
$dark: $purple120;

// secondary color overrides
$yellow: $brightYellowA;
$orange: $brightBlueA;
$white: $white;
$blueGreen: $purple;

// other color overrides
$greenBG: $brightGreenA;
$gray: $black10;
$lightgray: $gray6;
$red: $brightRedA;
$blue: $brightBlueA;
$lightblue: $brightBlueB;

// status overrides
$info: $brightYellowB;
$success: $brightGreenA;
$warning: $brightYellowA;
$danger: $brightRedA;

// brand overrides
$brand-primary: $purple !important;

// redifine root css vars
:root {
  --primary: #4e2a84;
}
