@import "mixins";
@import "partials";
@import "base";
@import "alerts";
@import "buttons";
@import "modals";
@import "sidebar";
@import "pages/manage-content";

// Browse alert box showing selected facets selected
#appliedParams {
  .appliedFilter {
    background: $rich-black-50;
  }
  .btn {
    margin: 0;
    text-transform: none;
    &#startOverLink {
      @include nu-button();
      margin: 0;
    }
    &.remove {
      margin-right: 0;
    }
  }
  .constraint-value {
    padding-right: 0;
  }
}
#sortAndPerPage {
  .btn-group {
    &.open {
      button {
        background: $nu-purple-60;
      }
    }
    .dropdown-toggle {
      color: $white;
      .caret {
        color: $white;
      }
    }
  }
  .dropdown-menu {
    padding-left: 0;
    > li {
      background: none;
      padding: .25rem .5rem;
      a {
        color: $nu-purple;
      }
    }
  }
}

#access_control_form {
  fieldset {
    margin-bottom: 1rem;
  }
}




.form-control:focus {
  box-shadow: none;
}


.documentHeader {
  &.row {
    margin-left: 0;
    margin-right: 0;
  }
}
