
	<footer>
		<div class="container">
			<div class="footer-logo pull-left">
				<%= image_tag "nu_logo.png", alt: "Northwestern University" %>
	    	</div>
			<div class="footer-contact pull-left">
				<p><i class="icon-envelope"></i>  <%= link_to "Contact Us", comments_path %></p>

				<p>
					For more information contact <a href="http://www.library.northwestern.edu/about/library-administration/departments-offices/repository-and-digital-curation">Repository and Digital Curation</a>
				</p>

        <p> 
        	<a href="http://www.library.northwestern.edu/">Northwestern University Library</a>; 1970 Campus Drive; Evanston, IL 60208-2300
        </p>

        <p>
        	Phone: <a href="tel:+18474671080">847-467-1080</a>;
        	E-mail: <a href="mailto:repository@northwestern.edu">repository@northwestern.edu</a>
        </p>

        <p>
        	<a href="http://www.northwestern.edu/disclaimer.html">Disclaimer</a> and
        	<a href="http://policies.northwestern.edu/">University Policy Statements</a>
          &copy; 2012 Northwestern University
        </p>
				
				<p>
					For Course Reserves or streaming audio/video in Canvas, please contact Main Library Reserves at <a href="mailto:e-reserve@northwestern.edu">e-reserve@northwestern.edu</a> or <a href="tel:+18474917681">847-491-7681</a>
				</p>
			</div>
		</div>
	</footer>
