<%#
Copyright 2011-2015, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed 
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the 
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
  <div class="custom-header">
    <%# By default shift log in / log out to the header %>
    <div class="log-in-out clearfix">
      <div class="pull-right">
        <%= render 'modules/user_management' %> |
        <%= link_to '<i class="glyphicon glyphicon-question-sign"></i> Help'.html_safe, comments_path %>
      </div>
    </div>
    <div class="row">
      <div class="row whitespace-half">
      <header>
        <div class="col-sm-4 logo">
        <%= link_to root_path do %>
          <%= image_tag "repository-audiovideo-white.png", alt: "Northwestern University Repository | audio + video" %>
        <% end %>
        </div>
      </header>
      </div>
    </div>
  </div> <!-- end .custom-header -->
