footer {
  border: none;
  margin: inherit;
  padding-top: 3rem;
  padding-bottom: 3rem;
  a {
    color: $white !important;
  }
  ul {
    float: none;
    margin: 0;
  }
  li {
    display: inherit;
    &:before {
      content: none;
    }
  }
}
