// Browse applied filters
#appliedParams {
  .constraints-label {
    color: $rich-black-80;
    margin-right: .25rem;
  }
}
.appliedFilter {
  .btn,
  .facets-toggle {
    background-color: $rich-black-50;
    border: 0;
    color: $white;
    font-size: 16px;
  }
  .constraint-value {
    &:hover {
      background: $rich-black-50;
    }
  }
  .remove {
    &:hover,
    &:active,
    &:focus {
      background: $rich-black-50;
    }
  }
}
