:not(.facet_limit-active).facet_limit {
  > .panel-heading {
    //background-color: $light-grey;
    // border: 1px solid $light-grey;
    // border-top: 0;
  }
}

// Footer links keep white
a:not(.btn):not(.facets-toggle) {
  color: $nu-purple;
}

#content {
  max-width: 100%;
}

#edit-playlist-button {
  margin-left: 10px;
}

.form-horizontal {
  label {
    font-family: $AkkuratProRegular;
  }
}

// The focus/blur outline which is applied to elements when navigating around
.page_element_outline {
  outline: solid 1px $nu-purple-30 !important;
  outline-offset: 0 !important;
}
