@import './custom/facet-sidebar';
@import './custom/nav';
@import './blacklight-overrides';

body {
  font-size: 1rem;
}

ul.bookmarksTools {
  a:hover {
    background-color: $nu-purple-120 !important;
  }
}

.document-title-heading {
  font-family: $AkkuratProRegular !important;
}

.page-title-wrapper {
  margin: 1rem 0;
}

.manage-btn {
  background-color: $rich-black-10;
  color: $nu-purple;

  &:hover,
  &:focus {
    background-color: $light-grey2 !important;
  }
}

.global-search-wrapper {
  display: none;
}

.hero-image.homepage {
  background: url('nulib/avr-splash-image-reels-cropped-muted.jpg') no-repeat
    center / cover;
}

.homepage-splash-top-section {
  background-image: url('nulib/avr-splash-image-reels-cropped.jpg');
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  height: 500px;
  position: relative;
}

// Playlists
.playlist-view-wrapper {
  #right-column {
    h4 {
      padding-top: 1rem;
    }
  }
}

// Hide mobile navigation dropdown Avalon logo
#header-navbar .navbar-brand {
  display: none;
}

#timeline-button {
  display: none !important;
}

#share-button > i {
  color: white !important;
}

footer {
  a:hover {
    color: $white;
  }
}

// Datatables overrides
div.dataTables_wrapper div.dataTables_length select {
  padding: 0 5px;
}
