<h2 id="featured_content_header">Sample Content</h2>
<div id="featured_content" class="row">
  <div class="col-md-4">
    <h4>Featured Collection</h4>
    <a href="#">
      <%= image_tag "placeholder-collection-600x400.png", alt: "Featured Collection" %>
    </a>
  </div>
  <div class="col-md-4">
    <h4>Featured Video</h4>
     <a href="#">
        <%= image_tag "placeholder-video-600x400.png", alt: "Featured Video" %>
      </a>
  </div>
  <div class="col-md-4">
    <h4>Featured Audio</h4>
    <a href="#">
      <%= image_tag "placeholder-audio-600x400.png", alt: "Featured Audio" %></a></li>
  </div>
</div>

<h4>Using the System</h4>
<p>Avalon houses audio and video collections. Use the search box, or browse using the terms on the left side to discover content. Some content is only available when you sign in.  Sign in with your ID and passphrase.</p>
