<h2 id="featured_content_header">Featured Collections</h2>

<div id="featured_content" class="row">
  <div class="col-md-4">
    <a href="/?f%5Bcollection_ssim%5D%5B%5D=Herskovits+Library+of+African+Studies+Audio+Collection"><%= image_tag "featured-collection-herskovits2.jpg", alt: "Herskovits Library of African Studies Audio Collection" %></a>
    <a href="/?f%5Bcollection_ssim%5D%5B%5D=Herskovits+Library+of+African+Studies+Audio+Collection"><h5>Herskovits Library of African Studies Audio Collection</h5></a>
  </div>
  <div class="col-md-4">
     <a href="/catalog?f%5Bcollection_ssim%5D%5B%5D=Robert+Marcellus+Master+Class+Audio+Archives"><%= image_tag "featured-collection-robert-marcellus-400x400.png", alt: "Robert Marcellus Master Class Audio Archives" %></a>
     <a href="/catalog?f%5Bcollection_ssim%5D%5B%5D=Robert+Marcellus+Master+Class+Audio+Archives"><h5>Robert Marcellus Master Class Audio Archives</h5></a>
  </div>
  <div class="col-md-4">
    <a href="/?f%5Bcollection_ssim%5D%5B%5D=Northwestern+University+Football+Films"><%= image_tag "featured-collection-nu-football-400x400.png", alt: "Northwestern University Football Films" %></a>
    <a href="/?f%5Bcollection_ssim%5D%5B%5D=Northwestern+University+Football+Films"><h5>Northwestern University Football Films</h5></a>
  </div>
</div>

<h4>Using the System</h4>
<p>Avalon houses audio and video collections. Use the search box, or browse using the terms on the left side to discover content. Some content is only available when you sign in.  Sign in with your ID and passphrase.</p>
