<h1>About</h1>

<p>The Audio + Video repository at Northwestern University Libraries houses thousands of hours of archival and course reserve video and audio. Material is used by students and the University community for both course work and research. In addition to thousands of hours of material available to Northwestern affiliates, the system currently houses a limited number of public collections including historic football films and a master class taught by clarinetist Robert Marcellus.</p>

<p>The Audio + Video repository is powered by <a href="http://www.avalonmediasystem.org" target="_blank">Avalon Media System</a>, a joint project between Indiana University and Northwestern University.</p>

<h3>Contact Us</h3>
<p>For questions about the software or archival collections, please contact Repository and Digital Curation by email: <a href="mailto:repository@northwestern.edu">repository@northwestern.edu</a>.</p>

<p>For questions about Course Reserves or streaming media in Canvas, please contact Main Library Reserves by email: <a href="mailto:e-reserve@northwestern.edu">e-reserve@northwestern.edu</a> or call 847-467-1985.</p>
