#documents {
  .documentHeader {
    &.row {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  // Metadata - bold labels
  .document-metadata {
    dt {
      color: $rich-black-80;
      font-family: $AkkuratProBold;
    }
  }
}
